<div class="mx-auto" style="width: 300px;">
  <h2>Card Presentation  </h2>
</div>


<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">

          <div class="card-header">
            Guilherme Ferreira Oliveira
          </div>
          <div class="card-body">
            Me chamo Guilherme Ferreira Oliveira, atualmente tenho 18 anos!
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Gosto de jogar videogames e em computadores</li>
            <li class="list-group-item">Antigamente jogava volêi porém, devido ao trabalho parei de treinar...</li>
            <li class="list-group-item">A third item</li>
          </ul>
<div class="container">
  <div class="row">


  </div>
</div>
      </div>   <!---  fim card-body -->
    </div>   <!---  fim card -->
  </div> <!---  fim col -->

  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="assets\img\crud.png" />
      </div>
    </div>
  </div>
</div>
<!---  fim row -->

<router-outlet></router-outlet>
