



<div class="mx-auto" style="width: 300px;"> <!-- Alinhamento de card para o centro-->
  <h2>Card Presentation  </h2>

<div class="row" >
  <div class="col">
    <div class="card" style="width: 18rem;">
          <img src="../assets/img/introducao.jpeg">
      <div class="card-body">

          <div class="card-header">
          <h5> Guilherme Ferreira Oliveira </h5>

          </div>
          <br>
          <p class="card-subtitle mb-2 text-muted"> <a href="https://www.linkedin.com/in/guilherme-ferreira-0898b3288?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" class="card-link">Linkedin</a>
            <a href="https://github.com/gfferreiira" class="card-link">GitHub</a></p>

          <div class="card-body" >

            Me chamo Guilherme Ferreira Oliveira, atualmente tenho 18 anos!
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Gosto de jogar videogames e em computadores e também sair com amigos</li>
            <li class="list-group-item">Antigamente jogava volêi porém, devido ao trabalho parei de treinar...</li>
            <li class="list-group-item">Minha principal meta para o meu futuro é conseguir ingressar no mercado de trabalho de programação</li>
            <li class="list-group-item">Meu proximo objetivo financeiro é comprar um I30</li>
          </ul>

<div class="container">
  <div class="row">


  </div>
</div>
      </div>   <!---  fim card-body -->
    </div>   <!---  fim card -->
  </div> <!---  fim col -->
</div>
<!---  fim row -->
</div>  <!-- fim alinhamento-->
<router-outlet></router-outlet>
