<h1>Hello World</h1>
<div class="alert alert-danger" role="alert">
  A simple danger alert—check it out!
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="assets\img\logo_etec_pb.png" />
      </div>
      <!---  fim card-body -->
    </div>
    <!---  fim card -->
  </div>
  <!---  fim col -->

  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="assets\img\crud.png" />
      </div>
    </div>
  </div>
</div>
<!---  fim row -->

<router-outlet></router-outlet>
